$primary: {{ colors.primary.dark.hex }};
$onPrimary: {{ colors.on_primary.dark.hex }};
$primaryContainer: {{ colors.primary_container.dark.hex }};
$onPrimaryContainer: {{ colors.on_primary_container.dark.hex }};
$secondary: {{ colors.secondary.dark.hex }};
$onSecondary: {{ colors.on_secondary.dark.hex }};
$secondaryContainer: {{ colors.secondary_container.dark.hex }};
$onSecondaryContainer: {{ colors.on_secondary_container.dark.hex }};
$tertiary: {{ colors.tertiary.dark.hex }};
$onTertiary: {{ colors.on_tertiary.dark.hex }};
$tertiaryContainer: {{ colors.tertiary_container.dark.hex }};
$onTertiaryContainer: {{ colors.on_tertiary_container.dark.hex }};
$error: {{ colors.error.dark.hex }};
$onError: {{ colors.on_error.dark.hex }};
$errorContainer: {{ colors.error_container.dark.hex }};
$onErrorContainer: {{ colors.on_error_container.dark.hex }};
$surfaceDim: {{ colors.surface_dim.dark.hex }};
$surface: {{ colors.surface.dark.hex }};
$surfaceBright: {{ colors.surface_bright.dark.hex }};
$surfaceContainerLowest: {{ colors.surface_container_lowest.dark.hex }};
$surfaceContainerLow: {{ colors.surface_container_low.dark.hex }};
$surfaceContainer: {{ colors.surface_container.dark.hex }};
$surfaceContainerHigh: {{ colors.surface_container_high.dark.hex }};
$surfaceContainerHighest: {{ colors.surface_container_highest.dark.hex }};
$surfaceVariant: {{ colors.surface_variant.dark.hex }};
$surfaceTint: {{ colors.surface_tint.dark.hex }};
$background: {{ colors.background.dark.hex }};
$onBackground: {{ colors.on_background.dark.hex }};
$onSurface: {{ colors.on_surface.dark.hex }};
$onSurfaceVariant: {{ colors.on_surface_variant.dark.hex }};
$inverseSurface: {{ colors.inverse_surface.dark.hex }};
$inverseOnSurface: {{ colors.inverse_on_surface.dark.hex }};
$inversePrimary: {{ colors.inverse_primary.dark.hex }};
$primary-fixed: {{ colors.primary_fixed.dark.hex }};
$primary-fixed-dim: {{ colors.primary_fixed_dim.dark.hex }};
$on-primary-fixed: {{ colors.on_primary_fixed.dark.hex }};
$on-primary-fixed-variant: {{ colors.on_primary_fixed_variant.dark.hex }};
$secondary-fixed: {{ colors.secondary_fixed.dark.hex }};
$secondary-fixed-dim: {{ colors.secondary_fixed_dim.dark.hex }};
$on-secondary-fixed: {{ colors.on_secondary_fixed.dark.hex }};
$on-secondary-fixed-variant: {{ colors.on_secondary_fixed_variant.dark.hex }};
$tertiary-fixed: {{ colors.tertiary_fixed.dark.hex }};
$tertiary-fixed-dim: {{ colors.tertiary_fixed_dim.dark.hex }};
$on-tertiary-fixed: {{ colors.on_tertiary_fixed.dark.hex }};
$on-tertiary-fixed-variant: {{ colors.on_tertiary_fixed_variant.dark.hex }};
$outline: {{ colors.outline.dark.hex }};
$outline-variant: {{ colors.outline_variant.dark.hex }};
$scrim: {{ colors.scrim.dark.hex }};
$shadow: {{ colors.shadow.dark.hex }};
$source-color: {{ colors.source_color.light.hex }};
