(
    palette: Dark((
        name: "matugen-cosmic-dark",
        bright_red: (
            red: {{ colors.error.default.red }},
            green: {{ colors.error.default.green }},
            blue: {{ colors.error.default.blue }},
            alpha: 255.0,
        ),
        bright_green: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        bright_orange: (
            red: {{ colors.secondary.default.red }},
            green: {{ colors.secondary.default.green }},
            blue: {{ colors.secondary.default.blue }},
            alpha: 255.0,
        ),
        gray_1: (
            red: {{ colors.surface_dim.default.red }},
            green: {{ colors.surface_dim.default.green }},
            blue: {{ colors.surface_dim.default.blue }},
            alpha: 255.0,
        ),
        gray_2: (
            red: {{ colors.surface.default.red }},
            green: {{ colors.surface.default.green }},
            blue: {{ colors.surface.default.blue }},
            alpha: 255.0,
        ),
        neutral_0: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: {{ colors.surface_dim.default.red }},
            green: {{ colors.surface_dim.default.green }},
            blue: {{ colors.surface_dim.default.blue }},
            alpha: 255.0,
        ),
        neutral_2: (
            red: {{ colors.surface.default.red }},
            green: {{ colors.surface.default.green }},
            blue: {{ colors.surface.default.blue }},
            alpha: 255.0,
        ),
        neutral_3: (
            red: {{ colors.surface_container_low.default.red }},
            green: {{ colors.surface_container_low.default.green }},
            blue: {{ colors.surface_container_low.default.blue }},
            alpha: 255.0,
        ),
        neutral_4: (
            red: {{ colors.surface_container.default.red }},
            green: {{ colors.surface_container.default.green }},
            blue: {{ colors.surface_container.default.blue }},
            alpha: 255.0,
        ),
        neutral_5: (
            red: {{ colors.surface_container_high.default.red }},
            green: {{ colors.surface_container_high.default.green }},
            blue: {{ colors.surface_container_high.default.blue }},
            alpha: 255.0,
        ),
        neutral_6: (
            red: {{ colors.surface_container_highest.default.red }},
            green: {{ colors.surface_container_highest.default.green }},
            blue: {{ colors.surface_container_highest.default.blue }},
            alpha: 255.0,
        ),
        neutral_7: (
            red: {{ colors.on_surface_variant.default.red }},
            green: {{ colors.on_surface_variant.default.green }},
            blue: {{ colors.on_surface_variant.default.blue }},
            alpha: 255.0,
        ),
        neutral_8: (
            red: {{ colors.on_surface.default.red }},
            green: {{ colors.on_surface.default.green }},
            blue: {{ colors.on_surface.default.blue }},
            alpha: 255.0,
        ),
        neutral_9: (
            red: {{ colors.surface_bright.default.red }},
            green: {{ colors.surface_bright.default.green }},
            blue: {{ colors.surface_bright.default.blue }},
            alpha: 255.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_blue: (
            red: {{ colors.primary.default.red }},
            green: {{ colors.primary.default.green }},
            blue: {{ colors.primary.default.blue }},
            alpha: 255.0,
        ),
        accent_indigo: (
            red: {{ colors.primary.default.red }},
            green: {{ colors.primary.default.green }},
            blue: {{ colors.primary.default.blue }},
            alpha: 255.0,
        ),
        accent_purple: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        accent_pink: (
            red: {{ colors.secondary.default.red }},
            green: {{ colors.secondary.default.green }},
            blue: {{ colors.secondary.default.blue }},
            alpha: 255.0,
        ),
        accent_red: (
            red: {{ colors.error.default.red }},
            green: {{ colors.error.default.green }},
            blue: {{ colors.error.default.blue }},
            alpha: 255.0,
        ),
        accent_orange: (
            red: {{ colors.secondary.default.red }},
            green: {{ colors.secondary.default.green }},
            blue: {{ colors.secondary.default.blue }},
            alpha: 255.0,
        ),
        accent_yellow: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        accent_green: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        accent_warm_grey: (
            red: {{ colors.on_surface_variant.default.red }},
            green: {{ colors.on_surface_variant.default.green }},
            blue: {{ colors.on_surface_variant.default.blue }},
            alpha: 255.0,
        ),
        ext_warm_grey: (
            red: {{ colors.outline.default.red }},
            green: {{ colors.outline.default.green }},
            blue: {{ colors.outline.default.blue }},
            alpha: 255.0,
        ),
        ext_orange: (
            red: {{ colors.secondary.default.red }},
            green: {{ colors.secondary.default.green }},
            blue: {{ colors.secondary.default.blue }},
            alpha: 255.0,
        ),
        ext_yellow: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        ext_blue: (
            red: {{ colors.primary.default.red }},
            green: {{ colors.primary.default.green }},
            blue: {{ colors.primary.default.blue }},
            alpha: 255.0,
        ),
        ext_purple: (
            red: {{ colors.tertiary.default.red }},
            green: {{ colors.tertiary.default.green }},
            blue: {{ colors.tertiary.default.blue }},
            alpha: 255.0,
        ),
        ext_pink: (
            red: {{ colors.secondary.default.red }},
            green: {{ colors.secondary.default.green }},
            blue: {{ colors.secondary.default.blue }},
            alpha: 255.0,
        ),
        ext_indigo: (
            red: {{ colors.primary.default.red }},
            green: {{ colors.primary.default.green }},
            blue: {{ colors.primary.default.blue }},
            alpha: 255.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: {{ colors.surface_container_high.default.red }},
        green: {{ colors.surface_container_high.default.green }},
        blue: {{ colors.surface_container_high.default.blue }},
    )),
    bg_color: Some((
        red: {{ colors.surface.default.red }},
        green: {{ colors.surface.default.green }},
        blue: {{ colors.surface.default.blue }},
        alpha: 0.6,
    )),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some((
        red: {{ colors.on_surface.default.red }},
        green: {{ colors.on_surface.default.green }},
        blue: {{ colors.on_surface.default.blue }},
    )),
    accent: Some((
        red: {{ colors.primary.default.red }},
        green: {{ colors.primary.default.green }},
        blue: {{ colors.primary.default.blue }},
    )),
    success: Some((
        red: {{ colors.tertiary.default.red }},
        green: {{ colors.tertiary.default.green }},
        blue: {{ colors.tertiary.default.blue }},
    )),
    warning: Some((
        red: {{ colors.secondary.default.red }},
        green: {{ colors.secondary.default.green }},
        blue: {{ colors.secondary.default.blue }},
    )),
    destructive: Some((
        red: {{ colors.error.default.red }},
        green: {{ colors.error.default.green }},
        blue: {{ colors.error.default.blue }},
    )),
    is_frosted: true,
    gaps: (0, 10),
    active_hint: 2,
    window_hint: None,
)
