body.matugen {
  --accent: {{colors.tertiary.default.hex}};
  --accent-overlay: {{colors.inverse_primary.default.hex}};
  
  --primary: {{colors.primary.default.hex}};
  --primary-hover: {{colors.primary_container.default.hex}};
  --navbar-accent: var(--primary);
  
  --background: {{colors.background.default.hex}};
  --body-background: {{colors.surface.default.hex}};
  --navbar-background: {{colors.surface_container.default.hex}};
  
  --background-darker: var(--background);
  --current-background: var(--body-background);
  --navbar-active-background: {{colors.surface_container_high.default.hex}};

  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  
  --input-background: var(--navbar-background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);

  --success: {{colors.tertiary.default.hex}};
  --success-hover: {{colors.tertiary_container.default.hex}};
  --danger: {{colors.error.default.hex}};
  --danger-hover: {{colors.error_container.default.hex}};

  --text-default: {{colors.on_surface.default.hex}};
  --text-title: {{colors.on_surface.default.hex}};
  --text-secondary: {{colors.on_surface_variant.default.hex}};
  --text-tertiary: {{colors.outline.default.hex}};
  --text-hover: {{colors.primary.default.hex}};

  --text-title: {{colors.on_surface.default.hex}};
  --action-icon: {{colors.on_surface.default.hex}};
  --action-icon-hover: {{colors.primary.default.hex}};
  --action-icon-active: {{colors.primary_container.default.hex}};
  --icons-background: {{colors.surface_variant.default.hex}};
  --icon-disabled: {{colors.on_surface_variant.default.hex}};

  --anticheat-denied: var(--danger);
  --anticheat-broken: var(--accent);
  --anticheat-running: var(--primary);
  --anticheat-supported: var(--success);
  --anticheat-planned: {{colors.secondary.default.hex}};
}
